.sidebarCon {
    width: 300px;
    background-color: #e9e9e9;
    height: 100vh;
    padding: 22px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}


.sidebarCon .logo {
    font-size: 23px;
    color: black;
    font-weight: 700;
}

.sidebarCon .logo span {
    color: #695df6;
}

.dashLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
}

.dashLinks a {
    padding: 10px 0 10px 10px;
    width: 100%;
    color: rgb(19, 18, 26);
}

.dashLinks a:hover {
    background-color: rgb(213, 213, 213);
}

.dashLinks .active {
    background-color: #695df6;
    color: white;
}

.dashLinks .active:hover {
    background-color: #695df6;
    color: white;
}