nav {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav_holder {
    width: 1300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo h2 {
    font-size: 20px;
}

nav .logo h2 span {
    color: #695df6;
}

nav .nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


nav .nav_links a {
    color: #0e1217;
    padding: 5px 7px;
    font-weight: 500;
}

nav .nav_links .active {
    color: #ffffff !important;
    background-color: #695df6;
    border-radius: 3px;
}


nav .auth_btn a {
    border: 1px solid #695df6;
    color: #5849ff;
    padding: 7px 7px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
}

nav .auth_btn a:hover {
    color: white;
    box-shadow: inset 100px 0 #695df6;
}

nav .auth_btn .active {
    background-color: #695df6;
    color: #ffffff;
}


nav .userBox {
    font-size: 18px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

nav .userBox .dropDown {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    top: 28px;
    box-shadow: 0 2px 16.8px 3.2px #95959578;
    z-index: 99;

}

nav .userBox .dropDown a {
    width: 100%;
    border-top: 1px solid #b5b5b5;
    padding: 5px 0;
    text-align: center;
    font-size: 16px;
}

nav .userBox .dropDown a:hover {
    background-color: #ebebeb;
}

nav .userBox .dropDown button {
    width: 100%;
    border: none;
    padding: 5px 0;
    border-top: 1px solid #b5b5b5;
    background-color: transparent;
}

nav .userBox .dropDown button:hover {
    background-color: #ebebeb;
}