nav {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav_holder {
    width: 1300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo h2 {
    font-size: 20px;
}

nav .logo h2 span {
    color: #695df6;
}

nav .nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


nav .nav_links a {
    color: #0e1217;
    font-weight: 500;
}

nav .nav_links .active {
    color: #ffffff !important;
    background-color: #695df6;
    padding: 5px 7px;
    border-radius: 3px;
}


nav .auth_btn a {
    border: 1px solid #695df6;
    color: #5849ff;
    padding: 7px 7px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}