.room_details {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.room_big {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.room_big_img {
    width: 100%;
    height: 550px;
}

.room_big_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room_details_info {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: flex-start;
    flex-direction: column;
}

.room_details_info .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}


.room_big button {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    background-color: #695df6;
    border-radius: 7px;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.3s;
}

.room_big button:hover {
    width: 96%;
}




.booking_form {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56565636;
}

.booking_form form {
    width: 400px;
    position: relative;
    padding: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.booking_form form>div {
    width: 100%;
}

.booking_form form>div input {
    width: 100%;
    outline: none;
    height: 25px;
}

.booking_form form button {
    width: 100%;
    background-color: #695df6;
    color: white;
    border: none;
    cursor: pointer;
    padding: 7px 0;
}

.booking_form form .cross {
    position: absolute;
    font-size: 18px;
    cursor: pointer;
    width: fit-content;
    right: 10px;
    top: 10px;
}